* {
  box-sizing: border-box;
}
body,
ul,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
body {
  background-color: #eee;
}
.container {
  background: white;
  margin: 0 30px;
}
.exp_list {
  list-style: none;
  padding-top: 30px;
}
.exp_list li {
  position: relative;
}
.exp_list li h2 {
  border-bottom: 2px solid coral;
  border-left: 2px solid coral;
}
.exp_list li h2 span {
  line-height: 40px;
}
.exp_list li h2 span:first-of-type {
  font-size: 18px;
  text-indent: 30px;
  color: crimsons;
  float: left;
}
.exp_list li h2 span:last-of-type {
  position: relative;
  font-size: 20px;
  margin-right: 20px;
  color: coral;
  float: right;
}
.exp_list li h2 span:last-of-type::after {
  position: absolute;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  bottom: -4px;
  right: -23px;
  border-radius: 50%;
  background-color: crimson;
}
.exp_list li h2::after {
  content: '';
  display: block;
  clear: both;
}
.exp_list li div {
  position: absolute;
  z-index: 1;
  content: '';
  width: 54px;
  height: 54px;
  top: 13px;
  left: -27px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid transparent;
  border-top: 2px solid coral;
  transform: rotate(45deg);
}
.exp_list li div::before {
  transform: rotate(-45deg);
  box-sizing: border-box;
  position: absolute;
  display: block;
  z-index: 3;
  content: '';
  width: 42px;
  height: 42px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -177.8px;
  background-size: 280px;
}
.exp_list li article {
  position: relative;
  padding: 0;
  padding-left: 30px;
  line-height: 20px;
  font-size: 12px;
  margin: 7px 0 0 0;
  border-left: 2px solid coral;
}
.exp_list li article h3 {
  line-height: 20px;
  font-size: 15px;
}
.exp_list li article p {
  line-height: 20px;
  font-size: 14px;
}
.exp_list li article::before {
  z-index: 2;
  position: absolute;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  top: 16px;
  left: -4px;
  border-radius: 50%;
  background-color: coral;
}
