@import "reset.less";
@size:2;
.box_bj{
    background:
         
        url(./images/bj_circularone.png) no-repeat center top ,
        url(./images/bj_bottom.png) no-repeat center bottom #1f2229;
    background-size: 100%;
}
.nav {
    height: 86px / @size;
    border-bottom: 2px / @size solid #15161a;
    a{
        font-size: 0; 
        background: url(./images/icon.png) no-repeat;
        float: left;
        width: 38px / @size;
        height: 40px / @size;   
        background-size: 400px / @size;  
        margin: 24px / @size 0 0 20px /@size;
    }
    h1 {
        display: none;
    }
}
.self_bj {
    background: rgba(0,0,0,0.2);
    height: 500px;
}

@media all and (min-width:768px) {
    @size:1;
    .nav {
        height: 86px / @size;
        border: 2px / @size solid #15161a;
        a {
            width: 38px / @size;
            height: 40px / @size;   
            background-size: 400px / @size;  
            margin: 24px / @size 0 0 20px /@size;
            display:none;
        }
    }
}

@media all and (min-width:960px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    .nav {
        height: 99px;
        border-bottom: 1px solid #333039;
        h1 {
            display:block;
            color: #fff;
            font-size: 36px;
            line-height: 99px;
            span {
                color: #e16b5f;
                font-size: 16px;
                font-family: "微软雅黑";
                line-height: 82px;
                padding-top: 17px;
                display: inline-block;
                vertical-align: top;
                padding-left: 55px;
            }
        }
    }
}

@media all and (min-width:1080px) {
    .container {
        width: 1080px;
    }
    .nav {
        border-bottom-color: #37303b;
    }
}

