@font-face {
  font-family: 'fzlt';
  src: url('font/_gbk-webfont.eot');
  src: url('font/_gbk-webfont.eot?#iefix') format('embedded-opentype'), url('font/_gbk-webfont.woff2') format('woff2'), url('font/_gbk-webfont.woff') format('woff'), url('font/_gbk-webfont.ttf') format('truetype'), url('font/_gbk-webfont.svg#fzlantinghei-el-gbkregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 *
 *
 */
body {
  margin: 0;
  font-family: 'fzlt';
}
/*移动端的文字缩放问题*/
body * {
  -webkit-text-size-adjust: 100%;
}
/*IOS端点击高亮取消*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*IOS端圆角取消*/
input,
button {
  border-radius: 0;
  -webkit-appearance: none;
}
/*PC端适配*/
a {
  text-decoration: none;
  color: #000;
}
h1,
figure,
ul,
p {
  margin: 0;
}
h1 {
  font-weight: normal;
}
.img {
  vertical-align: top;
  border: none;
}
ul {
  list-style: none;
  padding: 0;
}
/*下面是生成的了*/
/*------------------------栅格布局样式------------------------*/
.container {
  padding: 0 25px;
}
/*------------------------公用类------------------------*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/*------------------------xs尺寸------------------------*/
.col-xs-1 {
  width: 7.69230769%;
  float: left;
  box-sizing: border-box;
}
.col-xs-2 {
  width: 15.38461538%;
  float: left;
  box-sizing: border-box;
}
.col-xs-3 {
  width: 23.07692308%;
  float: left;
  box-sizing: border-box;
}
.col-xs-4 {
  width: 30.76923077%;
  float: left;
  box-sizing: border-box;
}
.col-xs-5 {
  width: 38.46153846%;
  float: left;
  box-sizing: border-box;
}
.col-xs-6 {
  width: 46.15384615%;
  float: left;
  box-sizing: border-box;
}
.col-xs-7 {
  width: 53.84615385%;
  float: left;
  box-sizing: border-box;
}
.col-xs-8 {
  width: 61.53846154%;
  float: left;
  box-sizing: border-box;
}
.col-xs-9 {
  width: 69.23076923%;
  float: left;
  box-sizing: border-box;
}
.col-xs-10 {
  width: 76.92307692%;
  float: left;
  box-sizing: border-box;
}
.col-xs-11 {
  width: 84.61538462%;
  float: left;
  box-sizing: border-box;
}
.col-xs-12 {
  width: 92.30769231%;
  float: left;
  box-sizing: border-box;
}
.col-xs-13 {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.box_bj {
  background: url(images/bj_circularone.png) no-repeat center top, url(images/bj_bottom.png) no-repeat center bottom #1f2229;
  background-size: 100%;
}
.nav {
  height: 43px;
  border-bottom: 1px solid #15161a;
}
.nav a {
  font-size: 0;
  background: url(images/icon.png) no-repeat;
  float: left;
  width: 19px;
  height: 20px;
  background-size: 200px;
  margin: 12px 0 0 10px;
}
.nav h1 {
  display: none;
}
.self_bj {
  background: rgba(0, 0, 0, 0.2);
}
.pic_box {
  padding: 26.5px 10px 0 24px;
}
.self_pic {
  padding-bottom: 10px;
}
.self_pic img {
  width: 100%;
  border: 3px solid #e16b5f;
  border-radius: 50%;
}
.self_pic h1 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  line-height: 38px;
  padding-top: 41px;
  padding-left: 12px;
}
.self_pic h1 span {
  color: #e16b5f;
  font-size: 16px;
  line-height: 30px;
}
.self_sign {
  background: url(images/triangle.png) no-repeat;
  background-size: 100% 100%;
  font-size: 13px;
  color: #c5cbd0;
  line-height: 20px;
  padding: 21px 17px 15px 34.5px;
  position: relative;
}
.self_sign:before,
.self_sign:after {
  content: '';
  width: 13px;
  height: 13px;
  background: url(images/icon.png) no-repeat -19px 0;
  background-size: 200px;
  position: absolute;
  left: 13.5px;
  top: 23px;
}
.self_sign:after {
  background-position: -32px 0;
  position: static;
  display: inline-block;
  vertical-align: top;
  margin-top: 4.5px;
  margin-left: 5px;
}
.self_message {
  padding-top: 18.5px;
}
.self_list li {
  position: relative;
  font-size: 14px;
  line-height: 36.5px;
}
.self_list span {
  position: absolute;
  left: 0;
  top: 0;
  width: 66px;
  text-align: right;
  padding-right: 9.5px;
  box-sizing: border-box;
  color: #8d8e8f;
}
.self_list p {
  margin-left: 66px;
  padding-left: 11px;
  color: #c5cbd0;
  line-height: 24px;
  padding: 6.25px 0;
}
/*------------------------sm尺寸------------------------*/
@media all and (min-width: 768px) {
  .nav {
    height: 86px;
    border: 2px solid #15161a;
  }
  .nav a {
    width: 38px;
    height: 40px;
    background-size: 400px;
    margin: 24px 0 0 20px;
    display: none;
  }
}
/*------------------------md尺寸------------------------*/
@media all and (min-width: 960px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
  .nav {
    height: 99px;
    border-bottom: 1px solid #333039;
  }
  .nav h1 {
    display: block;
    color: #fff;
    font-size: 36px;
    line-height: 99px;
  }
  .nav h1 span {
    color: #e16b5f;
    font-size: 16px;
    font-family: "微软雅黑";
    line-height: 82px;
    padding-top: 17px;
    display: inline-block;
    vertical-align: top;
    padding-left: 55px;
  }
}
/*------------------------lg尺寸------------------------*/
@media all and (min-width: 1080px) {
  .container {
    width: 1080px;
  }
  .nav {
    border-bottom-color: #37303b;
  }
}
