.col-xs(@index) when (@index>0) {
    .col-xs(@index-1);
    .col-xs-@{index} {
        width: 100% / 10 * @index;
        float: left;
        box-sizing: border-box;  
    }
}
body {
    margin:0;
}