* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(100, 100, 100, 0.8);
  transform: translate(-100vw);
  transition: ease-in-out 0s;
  overflow: scroll;
}
